html {
  background: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.heart {
  height: 30px;
  width: 30px;
}

.card {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-gap: 3px;
  grid-template-columns: repeat(5, minmax(50px, 70px));
  margin-top: -1%;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 35px;
  border: 2px solid black;
  cursor: pointer;
}

.number:nth-child(13) {
  pointer-events: none;
  text-decoration: none;
}

.checkedNumber {
  text-decoration: line-through;
}

